In [9]:
def string_to_list(keyword_str):
    result = []
    keyword_str = keyword_str.replace('[','')
    keyword_str = keyword_str.replace(']','')
    keyword_str = keyword_str.replace('(','')
    keyword_str = keyword_str.replace(')','')
    keyword_str = keyword_str.replace("'",'')
    keyword_str = keyword_str.replace('""','')
    keyword_list = keyword_str.split(',')
    for i in range(0,len(keyword_list),2):
        result.append(keyword_list[i:i+2])
    return result

In [10]:
import pandas as pd

read_path = '../article/headline_keyword/'
write_path = '../article/headline_keyword/'
names = ['date','week','headline','keyword']
all_article = pd.DataFrame({
    'date' : [],
    'headline': [],
    'keyword' : []
})

for week in range(783):
    df = pd.read_csv(f'{read_path}week{week}_headline_keyword.csv')
    df['week'] = week
    all_article = pd.concat([all_article, df], ignore_index=1)
all_article['week'] = all_article['week'].astype(int)
all_article['keyword'] = [string_to_list(keyword) for keyword in all_article['keyword']]

In [11]:
key_word_kind = []
for week in range(783):
    keyWord_dict = {}
    for word_list in all_article['keyword'][all_article['week'] == week]:
        for word in word_list:
            if word[1] not in key_word_kind:
                key_word_kind.append(word[1])
key_word_kind

[' CIVILIZATION',
 ' O',
 ' QUANTITY',
 ' DATE',
 ' CITY',
 ' LOCATION',
 ' ARTIFACT',
 ' EVENT',
 ' ORGANIZATION',
 ' COUNTRY',
 ' PERSON',
 ' TERM',
 ' OCCUPATION',
 ' MATERIAL',
 ' ANIMAL',
 ' TIME',
 ' PLANT',
 ' STUDY_FIELD',
 ' THEORY',
 ' DISEASE']

In [18]:
def word_sorting(words):
    table = []
    for week in range(783):
        keyWord_dict = {}
        for word_list in all_article['keyword'][all_article['week'] == week]:
            for word in word_list:
                word[0] = word[0].replace(' ','')
                if word[1] not in words: continue
                if word[0] in keyWord_dict:
                    keyWord_dict[word[0]] += 1
                else:
                    keyWord_dict[word[0]] = 1
        if len(keyWord_dict) <= 0: continue
        s = pd.Series(keyWord_dict.values(),keyWord_dict.keys())
        table.append(s)
    return table

In [27]:
def word_columns(words):
    table = []
    for week in range(783):
        keyWord_dict = {}
        keyWord_dict['total'] = 0
        for word_list in all_article['keyword'][all_article['week'] == week]:
            for word in word_list:
                word[0] = word[0].replace(' ','')
                if word[0] not in words: continue
                if word[0] in keyWord_dict:
                    keyWord_dict[word[0]] += 1
                else:
                    keyWord_dict[word[0]] = 1
                keyWord_dict['total'] += 1
        if len(keyWord_dict) <= 0: continue
        s = pd.Series(keyWord_dict.values(),keyWord_dict.keys())
        table.append(s)
    return table

In [28]:
keyword_table = pd.DataFrame(word_sorting([' CITY',' LOCATION']))

In [29]:
keyword_table = keyword_table.fillna(0)
keyword_table.to_csv(f'{write_path}keyword_about_location.csv')

In [30]:
pd.read_csv(f'{write_path}keyword_about_location.csv')

,Unnamed: 0,서울,대치동,분당,용인,판교,하남,가좌뉴타운,판교신도시,두바이,...,강동남양주왕숙,강일왕숙신도시,하남남양주,강일동하남남양주,탕정2A6블록,북신항,의왕초평A3블록,수원당수2지구,아산탕정2A6블록,코로
0,0,37.0,1.0,10.0,9.0,24.0,3.0,2.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,24.0,2.0,3.0,4.0,52.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,23.0,2.0,0.0,4.0,56.0,0.0,5.0,7.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,21.0,0.0,10.0,12.0,120.0,0.0,0.0,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,28.0,2.0,5.0,10.0,45.0,2.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,778,197.0,1.0,0.0,3.0,1.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
779,779,120.0,1.0,1.0,7.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
780,780,158.0,1.0,0.0,6.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
781,781,112.0,0.0,0.0,17.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
782,782,109.0,1.0,1.0,4.0,2.0,2.0,0.0,0.0,3.0,...,1.0,1.0,1.0,1.0,1.0,7.0,1.0,3.0,1.0,1.0

In [34]:
price_up_words = ['상승', '상승…', '급등', '상승..', '상승...', '상승세', '오름세','올라']
price_up_df = pd.DataFrame(word_columns(price_up_words))
price_up_df = price_up_df.fillna(0)
price_up_df

     total   상승세    상승    올라    급등  상승…  오름세  상승..  상승...
0     20.0   1.0   9.0   6.0   3.0  1.0  0.0   0.0    0.0
1     16.0   3.0   3.0   3.0   1.0  1.0  5.0   0.0    0.0
2     12.0   2.0   3.0   4.0   0.0  1.0  2.0   0.0    0.0
3     25.0   6.0   8.0   3.0   5.0  0.0  3.0   0.0    0.0
4     25.0   3.0  12.0   9.0   0.0  1.0  0.0   0.0    0.0
..     ...   ...   ...   ...   ...  ...  ...   ...    ...
778   89.0  11.0  49.0   9.0  15.0  4.0  1.0   0.0    0.0
779   54.0   2.0  34.0   8.0   5.0  2.0  2.0   0.0    1.0
780   53.0   5.0  28.0   4.0  11.0  3.0  0.0   0.0    2.0
781   50.0   7.0  25.0   8.0   3.0  7.0  0.0   0.0    0.0
782   53.0   3.0  26.0  13.0   5.0  6.0  0.0   0.0    0.0

[783 rows x 9 columns]

In [35]:
price_down_words = ['하락', '하락…', '하락세', '하락..', '하락...', '급락', '내림세']
price_down_df = pd.DataFrame(word_columns(price_down_words))
price_down_df = price_down_df.fillna(0)
price_down_df

     total  하락세   하락   급락  내림세  하락…  하락...  하락..
0      7.0  1.0  6.0  0.0  0.0  0.0    0.0   0.0
1      4.0  1.0  2.0  1.0  0.0  0.0    0.0   0.0
2      1.0  0.0  0.0  1.0  0.0  0.0    0.0   0.0
3      1.0  1.0  0.0  0.0  0.0  0.0    0.0   0.0
4      0.0  0.0  0.0  0.0  0.0  0.0    0.0   0.0
..     ...  ...  ...  ...  ...  ...    ...   ...
778    2.0  0.0  2.0  0.0  0.0  0.0    0.0   0.0
779    0.0  0.0  0.0  0.0  0.0  0.0    0.0   0.0
780    1.0  0.0  1.0  0.0  0.0  0.0    0.0   0.0
781    1.0  0.0  0.0  1.0  0.0  0.0    0.0   0.0
782    1.0  0.0  1.0  0.0  0.0  0.0    0.0   0.0

[783 rows x 8 columns]

In [36]:
price_stay_words = ['보합', '보합세', '약세', '안정세']
price_stay_df = pd.DataFrame(word_columns(price_stay_words))
price_stay_df = price_stay_df.fillna(0)
price_stay_df

     total   약세  안정세  보합세   보합
0      3.0  2.0  1.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0
..     ...  ...  ...  ...  ...
778    0.0  0.0  0.0  0.0  0.0
779    0.0  0.0  0.0  0.0  0.0
780    1.0  0.0  0.0  0.0  1.0
781    1.0  0.0  1.0  0.0  0.0
782    0.0  0.0  0.0  0.0  0.0

[783 rows x 5 columns]

In [37]:
price_up_df.to_csv(f'{write_path}keyword_about_price_up.csv')
price_down_df.to_csv(f'{write_path}keyword_about_price_down.csv')
price_stay_df.to_csv(f'{write_path}keyword_about_price_stay.csv')