In [24]:
def string_to_list(keyword_str):
    result = []
    keyword_str = keyword_str.replace('[','')
    keyword_str = keyword_str.replace(']','')
    keyword_str = keyword_str.replace('(','')
    keyword_str = keyword_str.replace(')','')
    keyword_str = keyword_str.replace("'",'')
    keyword_list = keyword_str.split(',')
    for i in range(0,len(keyword_list),2):
        result.append(keyword_list[i:i+2])
    return result

In [25]:
import pandas as pd

read_path = '../article/headline_keyword/'
write_path = '../article/headline_keyword/'
names = ['date','week','headline','keyword']
all_article = pd.DataFrame({
    'date' : [],
    'headline': [],
    'keyword' : []
})

for week in range(783):
    df = pd.read_csv(f'{read_path}week{week}_headline_keyword.csv')
    df['week'] = week
    all_article = pd.concat([all_article, df], ignore_index=1)
all_article['week'] = all_article['week'].astype(int)
all_article['keyword'] = [string_to_list(keyword) for keyword in all_article['keyword']]

In [36]:
key_word_kind = []
for week in range(783):
    keyWord_dict = {}
    for word_list in all_article['keyword'][all_article['week'] == week]:
        for word in word_list:
            if word[1] not in key_word_kind:
                key_word_kind.append(word[1])
key_word_kind

[' CIVILIZATION',
 ' O',
 ' QUANTITY',
 ' DATE',
 ' CITY',
 ' LOCATION',
 ' ARTIFACT',
 ' EVENT',
 ' ORGANIZATION',
 ' COUNTRY',
 ' PERSON',
 ' TERM',
 ' OCCUPATION',
 ' MATERIAL',
 ' ANIMAL',
 ' TIME',
 ' PLANT',
 ' STUDY_FIELD',
 ' THEORY',
 ' DISEASE']

In [27]:
def word_sorting(words):
    table = []
    for week in range(783):
        keyWord_dict = {}
        for word_list in all_article['keyword'][all_article['week'] == week]:
            for word in word_list:
                if word[1] not in words: continue
                if word[0] in keyWord_dict:
                    keyWord_dict[word[0]] += 1
                else:
                    keyWord_dict[word[0]] = 1
        if len(keyWord_dict) <= 0: continue
        s = pd.Series(keyWord_dict.values(),keyWord_dict.keys())
        table.append(s)
    return table

In [33]:
keyword_table = pd.DataFrame(word_sorting([' CITY',' LOCATION']))

In [52]:
keyword_table = keyword_table.fillna(0)
keyword_table.to_csv(f'{write_path}keyword_about_location.csv')

In [53]:
pd.read_csv(f'{write_path}keyword_about_location.csv')

,Unnamed: 0,서울,대치동,분당,용인,판교,하남,가좌 뉴타운,판교신도시,두바이,...,탕정 2A6블록,고산 S3블록,강동하남남양주,산곡역,북신항,의왕초평A3블록,수원당수2지구,아산탕정 2A6블록,코로,하당
0,0,18.0,1.0,4.0,8.0,15.0,3.0,1.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,15.0,1.0,1.0,2.0,22.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,16.0,0.0,0.0,3.0,18.0,0.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,8.0,0.0,2.0,8.0,28.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,11.0,2.0,1.0,6.0,19.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,778,73.0,1.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
779,779,43.0,1.0,0.0,6.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
780,780,51.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
781,781,39.0,0.0,0.0,16.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
782,782,30.0,1.0,0.0,4.0,1.0,1.0,0.0,0.0,3.0,...,1.0,1.0,1.0,1.0,7.0,1.0,3.0,1.0,1.0,1.0